{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <div class="centered">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <form class="d-flex" method="POST" onSubmit='return validate();' action="/search">
            <input class="form-control me-2" name="search-query" type="search" placeholder="Search" aria-label="Search"
                   autofocus="autofocus">
            <button class="btn btn-primary" type="submit" onclick='this.form.submit();'>Search</button>
            <input name="upf-irwa-hidden" type="hidden" value="123">
        </form>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <!-- Button to Analytics Dashboard -->
        <div class="text-center">
            <a href="/analytics" class="btn btn-secondary mt-3">View Analytics Dashboard</a>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
    <script>
        function validate() {
            console.log("Validation function executed.");
            return true; // Return true to allow the form submission.
        }
    </script>
{% endblock %}
